body{
  display: flex;
  margin: 50px;
 
}
.grid-container{
   width: 562px;
   height: 562px;
   margin: 50px 50px auto;
   display: flex;
   flex-direction: column;
   border: 2px solid black;
}
.options-container{
  margin-top: 70px;
  width: 30%;
  height: 490px;
}
  .fila {
    display: flex; 
    flex: 1;
  }
  .celda {
    box-sizing: border-box;
    border: 1px solid black;
    margin: 1px; 
    flex: 1;
  }
  h2{
    font-size: 32px;
  }
  
  button{
    background-color: #3498db;
    height: 32px;
    width: 64px;
    border-radius: 5px;
    font-size: 16px;
  }
